* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0E164D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #0E164D;
   
    border-radius: 10px;
    width: 400px;
    
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    margin-top: -50px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
    color: #D9D9D9;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
    font-size: 14px;
    width: 100%;
}

.input-container {
    position: relative;
}

.input-container input[type="date"] {
   
    padding-right: 40px;
}

.icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #333;
}

.save-button {
    background-color: #90A283;
    color: white;
    padding: 10px;
    border-radius: 16px;
}