*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    /*color: #f0f0f0;
    background-color: #00004B;*/
}
span{
    font-size: 18px; 
    line-height: 1.6;
    display: flex;
    justify-content: center;
}
.btn:hover{
    background-color: none;
}
